img {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: crimson;

}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 15px;
}

.create {
    margin-top: 7px;
    font-style: italic;
    font-weight: bolder;
}

.AlreadyHaveAnAccount {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: gray;
}

.butt {
    margin-left: 60px;
}